<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
</head>

<body>
    <header>
        <h1>Food manager</h1>
        <nav>
            <span hx-get="/home" hx-target="#content" hx-swap="innerHTML">Home</span>
            <span hx-get="/about" hx-target="#content" hx-swap="innerHTML">About</span>
            <span hx-get="/contact" hx-target="#content" hx-swap="innerHTML">Contact</span>
        </nav>

    </header>

    <main>
        {{ .content }}
    </main>

    <footer>
        <p>&copy; 2024 Marcin Ryzewski</p>
    </footer>

</body>
</html>
